[submodule "foobar2000-sdk"]
	path = foobar2000-sdk
	url = https://github.com/intrigit/foobar2000-sdk.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
